<html lang="en">
<head>
  <title>Component Page</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js"></script>

  <link rel="stylesheet" href="https://matthewnitschke.github.io/ko-component-page/dist/ko-component-page.css">
  <script src="https://matthewnitschke.github.io/ko-component-page/dist/ko-component-page.js"></script>
</head>
<body>
  <ko-component-page params="{componentName: '<%= componentName %>'}">

    <ko-component-parameters>
    </ko-component-parameters>

    <ko-component-examples>
    </ko-component-examples>

  </ko-component-page>

  <script>ko.applyBindings(); </script>
</body>
</html>
